.installed.cfg
*.pyc
apache/wsgi.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
development.ini
production.ini
*.egg-info/
buildout_historic_cadastre.cfg
buildout_nesitn5.cfg
historic_cadastre/static/build/*.js
print/config.yaml
print/templates/print.mako
