*~
*.pyc
/.build
apache/*.conf
apache/*.wsgi
development.ini
production.ini
*.egg-info/
historic_cadastre/static/build/*.js
print/config.yaml
print/templates/print.mako
nesitnd1.mk
vars_nesitnd1.yaml
nesitn5.mk
vars_nesitn5.yaml
michael.mk
vars_michael.yaml
