
.measureLength, .measureArea {
    height:26px !important;
    width:26px !important;
}

.map-toolbar .measureLength {
    background:url(../images/normal/icon_distance.gif);
}
.map-toolbar .over .measureLength {
    background:url(../images/over/icon_distance_over.gif);
}
.x-btn-pressed .measureLength {
    background-image:url(../images/on/icon_distance_on.gif) !important;
}

.map-toolbar .measureArea {
    background:url(../images/normal/icon_surface.gif);
}
.map-toolbar .over .measureArea {
    background:url(../images/over/icon_surface_over.gif);
}
.x-btn-pressed .measureArea {
    background-image:url(../images/on/icon_surface_on.gif) !important;
}

.map-toolbar .img-btn .x-btn-tl,
.map-toolbar .img-btn .x-btn-tr,
.map-toolbar .img-btn .x-btn-tc,
.map-toolbar .img-btn .x-btn-ml,
.map-toolbar .img-btn .x-btn-mr,
.map-toolbar .img-btn .x-btn-mc,
.map-toolbar .img-btn .x-btn-bl,
.map-toolbar .img-btn .x-btn-br,
.map-toolbar .img-btn .x-btn-bc,
.map-toolbar .over .img-btn .x-btn-tl,
.map-toolbar .over .img-btn .x-btn-tr,
.map-toolbar .over .img-btn .x-btn-tc,
.map-toolbar .over .img-btn .x-btn-ml,
.map-toolbar .over .img-btn .x-btn-mr,
.map-toolbar .over .img-btn .x-btn-mc,
.map-toolbar .over .img-btn .x-btn-bl,
.map-toolbar .over .img-btn .x-btn-br,
.map-toolbar .over .img-btn .x-btn-bc {
    background-image:none;
}

.map-toolbar {
    background-color: white;
    background-image: none;
}

.x-toolbar .print, .x-menu .print {
    background: url(../images/printer.png) top left no-repeat;
}

.toolwindow {
    border: 1px solid #D0D0D0;
    border-top: 0;
    padding: 2px;
    background-color: #F0F0F0;
}
.toolwindow .x-toolbar {
    background: none;
    border-width: 0 !important;
}
.toolwindow .x-tool-close {
    position: absolute;
    right: 2px;
    z-index: 2;
}

/* Print panel */
.printpanel .x-form-label-top .x-form-element {
     padding-top: 0;
}
.printpanel .x-form-label-top .x-form-item {
    padding-bottom: 2px;
}
.printpanel .x-form-item {
    margin-bottom: 0;
}
.printpanel textarea {
    min-height: 50px;
}

.pdf-window .x-window-mc {
    font-weight: normal;
    text-align: center;
}
.pdf-window .x-window-mc .x-panel, .pdf-window .x-window-mc .x-panel-body {
    border: 0;
    background-color: transparent;
}
.pdf-window .x-window-mc .x-panel-body {
    padding: 5px;
}
.pdf-window .x-window-mc table {
    margin-left: auto;
    margin-right: auto;
}