<!DOCTYPE HTML>
<html lang="fr">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Content-Language" content="fr" />
        <meta name="keywords" content="sitn, geoportail">
        <meta name="description" content="Géoportail du SITN - plan graphique">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">

        <title>Géoportail Archives du SITN</title>

        <link rel="shortcut icon" type="image/x-icon" href="${request.static_url('historic_cadastre:static/images/favicon.ico')}">

        <link rel="stylesheet" type="text/css" href="${request.static_url('historic_cadastre:static/lib/ext/resources/css/ext-all.css')}" />
        <link rel="stylesheet" type="text/css" href="${request.static_url('historic_cadastre:static/lib/ext/resources/css/xtheme-gray.css')}" />
        <link rel="stylesheet" type="text/css" href="${request.static_url('historic_cadastre:static/css/main.css')}" />
        <link rel="stylesheet" type="text/css" href="${request.static_url('historic_cadastre:static/lib/jquery/DataTables/media/css/jquery.dataTables.css')}" />

% if debug is True:
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/lib/jquery/jquery.js')}"></script>
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/lib/jquery/jquery-ui.js')}"></script>
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/lib/jquery/DataTables/media/js/jquery.dataTables.js')}"></script>
% else:
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/lib/jquery/jquery.min.js')}"></script>
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/lib/jquery/jquery-ui.min.js')}"></script>
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/lib/jquery/DataTables/media/js/jquery.dataTables.min.js')}"></script>
% endif
        <script type="text/javascript" src="${request.static_url('historic_cadastre:static/js/Plugins/parcel_histo_doc.js')}"></script>

        <style>
        body {
            font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
            font-size: 100%;
        }

        table.timetable {
            border-width: 0px;
            border-spacing: 0px;
            border-style: none;
            border-color: gray;
            border-collapse: collapse;
        }

        table.timetable td {
            border-width: 1px;
            padding: 5px;
            border-style: solid;
            border-color: gray;
            -moz-border-radius;
        }

        table.timetable th {
            border-width: 1px;
            padding: 5px;
            border-style: solid;
            border-color: gray;
            -moz-border-radius;
            background-color: #ddd;
        }
        table.timetable tr:hover {
            background-color: #ddd;
        }
        </style>

    </head>

    <body>
        <div id="header">
        <table width="100%">
                <tr>
                    <td align="left" valign="top" style="height: 37px;">
                        <img src="${request.static_url('historic_cadastre:static/images/banner_left.png')}" alt="" align="top" /></td>
                   <td rowspan="2" valign="top" align="right">
                        <a href="http://www.ne.ch" target=_blank>
                            <img src="${request.static_url('historic_cadastre:static/images/banner_right.png')}" alt="" />
                        </a>
                   </td>
                </tr>
          </table>
        </div>
        <div style="margin-right:5px ; margin-left:5px">
            <p><font size=4>Documents concernant la parcelle ${list[0]['parcel']} du cadastre de ${list[0]['cadastre']}</font></p>
            <br></br>
            <table class='timetable' id="historic_parcel_doc">
                <thead>
                    <tr bgcolor=#ddd>
                        <th align="center">Numéro du plan</th>
                        <th align="center">Indice</th>
                        <th align="center">Date du plan</th>
                        <th align="center">Date de l'acte</th>
                        <th align="center">Date de dépôt</th>
                        <th align="center">Affaire</th>
                        <th align="center">Type d'affaire</th>
                        <th align="center">Commentaire</th>
                        <th align="center">Lien plan</th>
                        <th align="center">Lien désignation</th>
                    </tr>
                </thead>
                <tbody>
% for result in list:
                    <tr>
                        <td align="center">${result['plan']}</td>
                        <td align="center">${result['indice']}</td>
                        <td align="center">${result['date_plan']}</td>
                        <td align="center">${result['date_acte']}</td>
                        <td align="center">${result['date_depot']}</td>
                        <td align="center">${result['affaire']}</td>
                        <td align="center">${result['type_affaire']}</td>
                        <td align="center">${result['texte_affaire']}</td>
                        <td align="center"><a href="${request.route_url('home')}/?id=${result['id_mut_plan']}&type=mutation" target="_blank">Plan</a></td>
% if result['chemin_desi'] == None:
                        <td align="center">Pas de désignation</td>
% else:
                        <td align="center"><a href="${request.route_url('pdf_proxy', type='mutation', id=result['id_mut_plan'])}" target="_blank">Désignation</a></td>
% endif
                    </tr>
% endfor
                </tbody>
            </table>
        </div>
    </body>
</html>
